*.swp
*~
ac-comphist.dat
anything-c-adaptive-history
\#*\#
*.elc
server/
ede-projects.el
semanticdb/
srecode-map.el
.org-id-locations
eshell/
elpa/
backups/
auto-save-list/
places
.smex-items
url/
site-lisp/nxhtml/etc/schema/xhtml-loader.rnc
